* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('file:///C:/Users/Suchith/Desktop/close-up-diet-plan-food-table-healthy-eating-dieting-slimming-weigh-loss-concept-paper-green-apple-measuring-tape-salad-58762737.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 120vh; 
}

header {
    background:#000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-styletype: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #000000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
